// Color
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #282828;
  --color-bg: #f7f7f7;
  --color-accent: #3b58c4;
}

// * breakpointsMaxW
$bp-container: 1300px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-360: 360.98px;

// *=== Fonts
$TTCommons: 'TT Commons';
$Verdana: 'Verdana';
