.installment {
  @include adaptive-value('padding-top', 50, 40, 1);
  @include adaptive-value('padding-bottom', 80, 60, 1);

  &__title {
    @include fz40();
    @include adaptive-value('margin-bottom', 30, 20, 1);
  }
}

.form-calc {
  &__inner {
    background-color: #f4f4f4;
    padding: 22px;
    display: grid;
    grid-template-columns: 1fr 0.45fr;
    align-items: center;
    gap: 22px;
    @include adaptive-value('margin-bottom', 65, 40, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }

    @include breakpointsMaxW($bp-576) {
      padding: 10px;
    }
  }

  &__left {
    padding: 70px;
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    @include adaptive-value('gap', 50, 30, 1);
    @include adaptive-value('padding', 70, 20, 1);
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    position: relative;

    @include breakpointsMaxW($bp-576) {
      gap: 10px;
    }

    &-icon {
      position: absolute;
      top: calc(14px + 50%);
      transform: translateY(-50%);
      right: 20px;
      font-size: 21px;
      line-height: 1;
      font-weight: 500;
      color: #6c737e;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #36404d;
    @include adaptive-value('font-size', 18, 15, 1);
  }

  &__input {
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 22px;
    @include adaptive-value('padding', 22, 12, 1);
    @include adaptive-value('padding-right', 50, 50, 1);
    font-size: 17px;
    line-height: 1;
    padding-right: 50px;

    &::placeholder {
      color: #b7babe;
    }
  }

  &__right {
    background-color: var(--color-white);
    padding: 70px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: row;
    }

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
    }

    @include adaptive-value('padding', 60, 30, 1);
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    line-height: 1;
    font-weight: 400;
    color: #36404d;
    @include adaptive-value('font-size', 18, 15, 1);

    strong {
      font-size: 30px;
      font-weight: 700;
      @include adaptive-value('font-size', 30, 22, 1);
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    text-transform: uppercase;
    padding: 20px 50px;
    font-size: 19px;
    line-height: 1;
    font-weight: 600;
    @include adaptive-value('font-size', 19, 17, 1);
    border-radius: 30px;
  }
}
