.product {
  @include adaptive-value('padding-top', 50, 30, 1);
  @include adaptive-value('padding-bottom', 60, 40, 1);

  &__top {
    background-color: #efefef;
    margin-bottom: 35px;

    &-inner {
      padding: 40px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;

    @include breakpointsMaxW($bp-576) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__action {
    padding-left: 50px;
    position: relative;
    transition: 200ms ease;

    &--favorite {
      .product__action-icon {
        &::after {
          @include maskImage(url('../images/icons/heart.svg'), contain);
        }
      }
    }

    &--share {
      .product__action-icon {
        &::after {
          @include maskImage(url('../images/icons/share.svg'), contain);
        }
      }
    }

    &-icon {
      transition: 200ms ease;
      background-color: var(--color-white);
      width: 38px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;

      &::after {
        transition: 200ms ease;
        @include elDef();
        width: 19px;
        height: 19px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1a3760;
      }
    }

    &:hover {
      .product__action-icon {
        background-color: var(--color-accent);
        &::after {
          background-color: var(--color-white);
        }
      }
    }
  }

  &__title {
    @include adaptive-value('font-size', 50, 30, 1);
    line-height: 1.2;
    font-weight: 800;
    color: #132134;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 50px;
    @include adaptive-value('margin-bottom', 50, 40, 1);

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    width: 100%;
    height: 550px;
    @include breakpointsMaxW($bp-991) {
      height: calc(280px + (550 - 280) * ((100vw - 320px) / (991 - 320)));
    }

    img {
      border-radius: 10px;
      @include img(cover);
    }
  }

  .product-info {
    &__list {
      @include adaptive-value('margin-bottom', 35, 20, 1);

      &--top {
        max-width: 380px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #e4e4e4;
      font-size: 15px;
      line-height: 1.1;
      gap: 30px;
    }

    &__left {
      font-weight: 400;
      color: #65696f;
      flex-shrink: 0;
      @include breakpointsMaxW($bp-991) {
        // width: 30%;
      }
    }

    &__right {
      font-weight: 600;
      color: #132134;
      text-align: right;

      &.color-accent {
        color: #3b58c4;
      }

      @include breakpointsMaxW($bp-991) {
        // width: 70%;
      }
    }

    &__location {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      padding: 20px 25px;
      background-color: #efefef;
      border-radius: 10px;
      @include adaptive-value('margin-bottom', 35, 20, 1);
      @include breakpointsMaxW($bp-576) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__highway {
      padding-left: 31px;
      position: relative;
      text-decoration: underline;

      &::after {
        @include elDef();
        width: 16px;
        height: 16px;
        @include maskImage(url('../images/icons/road.svg'), contain);
        background-color: #132134;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__from {
      padding-left: 31px;
      position: relative;

      &::after {
        @include elDef();
        width: 16px;
        height: 16px;
        @include maskImage(url('../images/icons/road.svg'), contain);
        background-color: var(--color-accent);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      gap: 20px;
      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
      }
    }

    &__btn {
      text-transform: uppercase;
      padding: 20px;
      width: 250px;
      border-radius: 28px;
      font-size: 16px;
    }
  }

  .product-adv {
    background-color: var(--color-white);
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    padding: 30px;
    @include adaptive-value('padding', 30, 15, 1);

    &__list {
      display: flex;

      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 20px;

      @include breakpointsMaxW($bp-991) {
        justify-content: flex-start;
      }

      @include breakpointsMaxW($bp-576) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__item {
      font-size: 16px;
      line-height: 3;
      color: #132134;
      padding-left: 57px;
      position: relative;
      @include breakpointsMaxW($bp-576) {
        width: 100%;
      }

      &-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var(--color-accent);
        display: block;

        &::after {
          @include elDef();
          width: 20px;
          height: 20px;
          background-color: var(--color-white);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &--electricity {
        .product-adv__item-icon {
          &::after {
            @include maskImage(url('../images/icons/power.svg'), contain);
          }
        }
      }
    }
  }
}
