.request {
  @include adaptive-value('padding-top', 80, 40, 1);
  @include adaptive-value('padding-bottom', 80, 40, 1);

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 60px;

    @include breakpointsMaxW($bp-container) {
      gap: 30px;
    }
    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    @include breakpointsMaxW($bp-768) {
      gap: 30px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    @include background(contain);
    @include breakpointsMaxW($bp-991) {
      height: 450px;
      order: 1;

      height: calc(280px + (450 - 280) * ((100vw - 320px) / (991 - 320)));
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 1;
    @include fz40();
    font-weight: 400;
    color: #172437;
  }

  &__text {
    @include adaptive-value('margin-bottom', 35, 20, 1);
    font-size: 18px;
    font-weight: 400;
    color: #5d6571;
  }
}
