<section class="plots plots--better">
  <div class="container">
    <div class="plots__top">
      <h2 class="plots__title">Лучшие предложения марта</h2>
      <a class="plots__btn" href="#">Все участки</a>
    </div>
  </div>

  <div class="plots__content">
    <div class="plots__slider swiper">
      <ul class="plots__slides swiper-wrapper">
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/1.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Поселок Цернское</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/2.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Вороновское поселение</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/3.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Александрия ИЖС</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/4.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Алешинские просторы</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/1.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Поселок Цернское</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/2.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Вороновское поселение</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/3.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Александрия ИЖС</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
        <li class="plots__slide swiper-slide">
          <article class="plots-card">
            <a class="plots-card__link" href="#"></a>
            <div class="plots-card__badge card-badge card-badge--count">
              <p>в продаже 51 участок</p>
            </div>
            <div class="plots-card__top">
              <img src="images/content/plots/4.jpg" alt="Участок" />
            </div>
            <div class="plots-card__body">
              <h3 class="plots-card__title">Алешинские просторы</h3>

              <address class="plots-card__address">
                Новорязанское шоссе, 65 км от МКАд
              </address>

              <div class="plots-card__prices">
                <div class="plots-card__price">
                  от 75 000 ₽ <span>/ сотка</span>
                </div>
                <div class="plots-card__count">(от <span>5</span> соток)</div>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
