<section class="descr-village">
  <div class="container">
    <div class="descr-village__top">
      <h2 class="descr-village__title">Описание поселка</h2>
      <div class="descr-village__text">
        <p>
          Участки ИЖС Скурыгино находятся в живописном Чеховском районе. Рядом
          шелестят густые грибные леса и играет на солнце большой пруд – радость
          любителей рыбной ловли.
        </p>

        <p>
          Сами участки правильной формы, сухие, без лишней растительности и ярко
          выраженных перепадов высот.
        </p>

        <p>
          В пяти минутах пешком работают продуктовые магазины, а чуть дальше и
          другие торговые и социальные объекты. Среди местных
          достопримечательностей – бывшая усадьба Скурыгино с парковым
          комплексом и церковь Иконы Божией Матери Споручница Грешных.
        </p>

        <p>
          До участков удобно добраться как на личном, так и на общественном
          транспорте. К участкам примыкает автобусная остановка. Вдоль восточной
          границы участков проходит дорога с твердым покрытием.
        </p>

        <p>
          Летом 2021 года на территории поселка планируется строительство дорог
          с твердым асфальтовым покрытием. После завершения строительства дорог
          будет организована въездная группа. В планах компании обустроить на
          территории поселка детскую площадку.
        </p>
      </div>
    </div>

    <div class="descr-village__tabs tabs">
      <div class="descr-tabs">
        <div class="descr-tabs__top">
          <ul class="descr-tabs__list">
            <li class="descr-tabs__item">
              <button
                class="descr-tabs__btn tabs-btn tabs-btn--active"
                type="button"
              >
                Экология
              </button>
            </li>
            <li class="descr-tabs__item">
              <button class="descr-tabs__btn tabs-btn" type="button">
                Водоемы
              </button>
            </li>
            <li class="descr-tabs__item">
              <button class="descr-tabs__btn tabs-btn" type="button">
                Дороги
              </button>
            </li>
            <li class="descr-tabs__item">
              <button class="descr-tabs__btn tabs-btn" type="button">
                Инфраструктура
              </button>
            </li>
          </ul>
        </div>

        <div class="descr-tabs__wrap">
          <div class="descr-tabs__content tabs-content active">
            <img src="images/content/descr-village.jpg" alt="Экология" />
          </div>
          <div class="descr-tabs__content tabs-content">
            <img src="images/content/descr-village.jpg" alt="Экология" />
          </div>
          <div class="descr-tabs__content tabs-content">
            <img src="images/content/descr-village.jpg" alt="Экология" />
          </div>
          <div class="descr-tabs__content tabs-content">
            <img src="images/content/descr-village.jpg" alt="Экология" />
          </div>
        </div>

        <div class="descr-tabs__bottom">
          <button class="descr-tabs__button btn" type="button">
            ЗАЯВКА НА ПРОСМОТР
          </button>
          <button class="descr-tabs__button btn btn--gray" type="button">
            ЗАБРОНИРОВАТЬ УЧАСТОК
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
