<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo logo" href="#">
        <img src="images/logo.png" alt="Логотип" />
      </a>
      <div class="footer__cols">
        <div class="footer__col">
          <span class="footer__heading">КОМПАНИЯ</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link"> История компании </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link"> Наша команда </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link"> Отзывы </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__heading">СПЕЦПРЕДЛОЖЕНИЯ</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">Акции </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Рассрочка и кредит</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link"> Строительство</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__heading">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">Новости</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Обустройство</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Реализованые поселки</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__col footer__col--contacts">
        <div class="footer__actions actions">
          <a class="actions__phone" href="tel:+79257775707">
            +7 (925) 777-57-07
          </a>
          <button class="actions__order-btn">заказать звонок</button>
        </div>
        <div class="footer__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a
                class="socials__link socials__link--vk"
                href="#"
                aria-label="vk"
              ></a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--youtube"
                href="#"
                aria-label="youtube"
              ></a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--odnoklassniki"
                href="#"
                aria-label="odnoklassniki"
              ></a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link socials__link--telegram"
                href="#"
                aria-label="telegram"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p>
        © Все права защищены. Публикуемая на сайте информация не является
        публичной офертой
      </p>
    </div>
  </div>
</footer>
