<section
  class="hero hero--construction"
  style="background-image: url('images/content/hero-construction.jpg')"
>
  <!-- <div class="container"> -->
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h2 class="hero__title">Строительство</h2>
        <div class="hero__text">
          <p>
            Наша компания предлагает взаимовыгодное сотрудничество и готова
            стать Вашим надежным партнером на пути к реализации Вашей мечты.
          </p>
        </div>

        <button class="hero__btn btn" type="button">ОСТАВИТЬ ЗАЯВКУ</button>
      </div>
    </div>
  <!-- </div> -->
</section>
