<section class="interactive">
  <div class="container">
    <h2 class="interactive__title">Интерактивная карта ЗУ</h2>
    <div class="interactive__wrapper">
      <div class="interactive__preview">
        <img
          src="images/content/interactive.jpg"
          alt="Интерактивная карта ЗУ"
        />
      </div>

      <div class="interactive__right">
        <span class="interactive__name">Цена за сотку</span>

        <ul class="interactive__list">
          <li class="interactive__item interactive__item--80k">80 000</li>
          <li class="interactive__item interactive__item--85k">85 000</li>
          <li class="interactive__item interactive__item--90k">90 000</li>
          <li class="interactive__item interactive__item--sold">продан</li>
          <li class="interactive__item interactive__item--reserved">
            зарезервирован
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
