<section class="news">
  <div class="container">
    <div class="news__wrapper">
      <div class="news__offer">
        <h2 class="news__title">Новости</h2>

        <button class="news__btn btn btn--transparent">Все новости</button>
      </div>

      <ul class="news__list">
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__link" href="#"></a>
            <div class="news-card__top">
              <img src="images/content/news/1.jpg" alt="Новость" />
            </div>

            <div class="news-card__body">
              <p class="news-card__time">15.03.2022</p>

              <h3 class="news-card__title">
                Дачи и участки без подряда - лидеры продаж
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__link" href="#"></a>
            <div class="news-card__top">
              <img src="images/content/news/2.jpg" alt="Новость" />
            </div>

            <div class="news-card__body">
              <p class="news-card__time">15.03.2022</p>

              <h3 class="news-card__title">
                Поселок Фиалкино - отличный способ сохранить сбережения
              </h3>
            </div>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <a class="news-card__link" href="#"></a>
            <div class="news-card__top">
              <img src="images/content/news/3.jpg" alt="Новость" />
            </div>

            <div class="news-card__body">
              <p class="news-card__time">15.03.2022</p>

              <h3 class="news-card__title">
                Поселки для ИЖС от нашей компании: выгодно и надежно
              </h3>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
