<section class="numbers">
  <div class="container">
    <h2 class="visually-hidden">Цифры</h2>

    <ul class="numbers__list">
      <li class="numbers__item numbers__item--sold">
        <div class="numbers__item-wrap">
          <span class="numbers__number">13 000</span>
          <p class="numbers__text">проданных участков</p>
        </div>
      </li>
      <li class="numbers__item numbers__item--safe">
        <div class="numbers__number-wrap">
          <span class="numbers__number">105</span>
          <p class="numbers__text">надежных поселков</p>
        </div>
      </li>
      <li class="numbers__item numbers__item--successful">
        <div class="numbers__item-wrap">
          <span class="numbers__number">13 ЛЕТ</span>
          <p class="numbers__text">успешной работы</p>
        </div>
      </li>
    </ul>
  </div>
</section>
