<section class="photos">
  <div class="container">
    <h2 class="photos__title">
      ООО «ДСК» - застройщик с собственными <span> земельными участками </span>
    </h2>

    <ul class="photos__list">
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/2.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/2.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/3.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/4.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/5.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/6.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/7.jpg" alt="фото" />
      </li>
      <li
        class="photos__item"
        data-fancybox
        data-src="https://images.unsplash.com/photo-1471039497385-b6d6ba609f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      >
        <img src="images/content/photos/8.jpg" alt="фото" />
      </li>
    </ul>
  </div>
</section>
