<section class="projects">
  <div class="container">
    <h2 class="projects__title">Наши проекты</h2>

    <ul class="projects__list">
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <img src="images/content/projects/1.jpg" alt="Проект" />
          </div>

          <div class="projects-card__body">
            <h3 class="projects-card__title">
              Одноэтажный дом с гостиной со вторым светом и камином
            </h3>

            <ul class="projects-card__list">
              <li class="projects-card__item">
                <div class="projects-card__left">Ширина x Длина, м</div>
                <div class="projects-card__right">11 x 12</div>
              </li>
              <li class="projects-card__item">
                <div class="projects-card__left">Общая площадь, м2</div>
                <div class="projects-card__right">90,87 м2</div>
              </li>
            </ul>

            <div class="projects-card__bottom">
              <a class="projects-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <img src="images/content/projects/2.jpg" alt="Проект" />
          </div>

          <div class="projects-card__body">
            <h3 class="projects-card__title">
              Двухэтажный жилой дом со спортзалом
            </h3>

            <ul class="projects-card__list">
              <li class="projects-card__item">
                <div class="projects-card__left">Ширина x Длина, м</div>
                <div class="projects-card__right">11 x 12</div>
              </li>
              <li class="projects-card__item">
                <div class="projects-card__left">Общая площадь, м2</div>
                <div class="projects-card__right">90,87 м2</div>
              </li>
            </ul>

            <div class="projects-card__bottom">
              <a class="projects-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <img src="images/content/projects/3.jpg" alt="Проект" />
          </div>

          <div class="projects-card__body">
            <h3 class="projects-card__title">
              Одноэтажный дом с тремя спальнями и террасой
            </h3>

            <ul class="projects-card__list">
              <li class="projects-card__item">
                <div class="projects-card__left">Ширина x Длина, м</div>
                <div class="projects-card__right">11 x 12</div>
              </li>
              <li class="projects-card__item">
                <div class="projects-card__left">Общая площадь, м2</div>
                <div class="projects-card__right">90,87 м2</div>
              </li>
            </ul>

            <div class="projects-card__bottom">
              <a class="projects-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <img src="images/content/projects/4.jpg" alt="Проект" />
          </div>

          <div class="projects-card__body">
            <h3 class="projects-card__title">
              Одноэтажный дом с тремя спальнями
            </h3>

            <ul class="projects-card__list">
              <li class="projects-card__item">
                <div class="projects-card__left">Ширина x Длина, м</div>
                <div class="projects-card__right">11 x 12</div>
              </li>
              <li class="projects-card__item">
                <div class="projects-card__left">Общая площадь, м2</div>
                <div class="projects-card__right">90,87 м2</div>
              </li>
            </ul>

            <div class="projects-card__bottom">
              <a class="projects-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
