<section class="special">
  <div class="container">
    <div class="special__top">
      <h2 class="special__title">Специальные предложения</h2>
      <a class="special__btn" href="#">Все участки</a>
    </div>

    <div class="special__slider swiper">
      <ul class="special__slides swiper-wrapper">
        <li class="special__slide swiper-slide">
          <article class="discount-card">
            <a class="discount-card__link" href="#"></a>
            <div class="discount-card__top">
              <img src="images/content/discount/1.jpg" alt="Скидка" />
            </div>

            <div class="discount-card__body">
              <h3 class="discount-card__title">
                Получи скидку за заключение договора в день просмотра
              </h3>
              <div class="discount-card__text">
                <p>
                  В марте при заключении договора купли-продажи земельного
                  участка в день просмотра Вы получаете скидку 3%.*
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="special__slide swiper-slide">
          <article class="discount-card">
            <div class="discount-card__badge card-badge card-badge--hot">
              <p>
                Горячее <br />
                предложение
              </p>
              <div class="card-badge__icon"></div>
            </div>
            <a class="discount-card__link" href="#"></a>
            <div class="discount-card__top">
              <img src="images/content/discount/2.jpg" alt="Скидка" />
            </div>

            <div class="discount-card__body">
              <h3 class="discount-card__title">Скидка 10% в день рождения!</h3>
              <div class="discount-card__text">
                <p>
                  В день вашего Рождения наша компания дарит вам скидку 10% на
                  покупку земельного участка.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="special__slide swiper-slide">
          <article class="discount-card">
            <a class="discount-card__link" href="#"></a>
            <div class="discount-card__top">
              <img src="images/content/discount/1.jpg" alt="Скидка" />
            </div>

            <div class="discount-card__body">
              <h3 class="discount-card__title">
                Получи скидку за заключение договора в день просмотра
              </h3>
              <div class="discount-card__text">
                <p>
                  В марте при заключении договора купли-продажи земельного
                  участка в день просмотра Вы получаете скидку 3%.*
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="special__slide swiper-slide">
          <article class="discount-card">
            <a class="discount-card__link" href="#"></a>
            <div class="discount-card__top">
              <img src="images/content/discount/2.jpg" alt="Скидка" />
            </div>

            <div class="discount-card__body">
              <h3 class="discount-card__title">Скидка 10% в день рождения!</h3>
              <div class="discount-card__text">
                <p>
                  В день вашего Рождения наша компания дарит вам скидку 10% на
                  покупку земельного участка.
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="special__slide swiper-slide">
          <article class="discount-card">
            <a class="discount-card__link" href="#"></a>
            <div class="discount-card__top">
              <img src="images/content/discount/2.jpg" alt="Скидка" />
            </div>

            <div class="discount-card__body">
              <h3 class="discount-card__title">Скидка 10% в день рождения!</h3>
              <div class="discount-card__text">
                <p>
                  В день вашего Рождения наша компания дарит вам скидку 10% на
                  покупку земельного участка.
                </p>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
